{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<body class="background">

<div class="container-fluid">

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="title col-md-4">
      <!-- PAGE HEADER -->
      <center>
        <h3>
        UPDATE PROFILE
        </h3>
          <hr>
          {{=form}}
        <!-- TIPS -->
        
      </center>
        <h1> . </h1>
    </div>
    <div class="col-md-4">
 <center>

  </center>
    </div>
</body>

