{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<body class="background">

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!-- NAVI BAR -->
      <nav class="menubar avbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
             <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button> <a class="navbar-brand" href="#"><img src="http://i.imgur.com/BRPgVCW.png" alt="LoveSlugs"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="../">HOME</a>
            </li>
            <li>
              <a href="messages.html">MESSAGES</a>
            </li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">PROFILE</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="myprofile.html">View Profile</a>
                </li>
                <li class="active">
                  <a href="editprofile.html">Edit Profile</a>
                </li>
                <li>
                  <a href="settings.html">Settings</a>
                </li>
              </ul>
            </li>
            <li><a href="tips.html">TIPS</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="../default/user/logout">Log Out</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="title col-md-4">
      <!-- PAGE HEADER -->
      <center>
        <h3>
        UPDATE PROFILE
        </h3>
          <hr>
          {{=form}}
        <!-- TIPS -->
        
      </center>
        <h1> . </h1>
    </div>
    <div class="col-md-4">
 <center>

  </center>
    </div>
</body>

