{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<style>
  body {
    background: url('http://i.imgur.com/FLlTgwF.png') no-repeat;
    background-size: 100%;
  }
</style>

<!-- IF USER IS NOT LOGGED IN, SHOW REGISTER PAGE-->
{{if auth.user_id is None:}}

  <!-- background image-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
      </div>
      <!-- loveslug logo -->
      <div class="col-md-4">
        <center><img src="http://i.imgur.com/AybSHtm.png" alt="LoveSlugs" style="width:510px;height:180px;"></center>
      </div>
      <div class="col-md-4">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <!-- login/register/lost_password form -->
      <div class="form col-md-4">
        <div role="form" id="blah_form">
        
          {{
          if request.args(0)=='login':
              if not 'register' in auth.settings.actions_disabled:
                  form.add_button(T('Sign Up'),URL(args='register', vars={'_next': request.vars._next} if request.vars._next else None),_class='btn btn-default')
              pass
              if not 'request_reset_password' in auth.settings.actions_disabled:
                  form.add_button(T('Lost Password'),URL(args='request_reset_password'),_class='btn btn-default')
              pass
          pass
          =form
          }}
    
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>

  {{block page_js}}
  <script>
      jQuery("#blah_form input:visible:enabled:first").focus();
  {{if request.args(0)=='register':}}
      web2py_validate_entropy(jQuery('#auth_user_password'),100);
  {{elif request.args(0)=='change_password':}}
      web2py_validate_entropy(jQuery('#no_table_new_password'),100);
  {{pass}}
  </script>
  {{end page_js}}

<!-- IF USER IS LOGGED IN, SHOW DAILY MATCHES-->
{{else:}}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!-- NAVI BAR -->
      <nav class="menubar avbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
             <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button> <a class="navbar-brand" href="#"><img src="http://i.imgur.com/BRPgVCW.png" alt="LoveSlugs"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="javascript:history.go(0)">HOME</a>
            </li>
            <li>
              <a href="../messages.html">MESSAGES</a>
            </li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">PROFILE</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="../myprofile.html">My Profile</a>
                </li>
                <li>
                  <a href="../profile.html">Edit Profile</a>
                </li>
                <li>
                  <a href="#">Settings</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">Log Out</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="title col-md-4">
      <!-- PAGE HEADER -->
      <center>
        <h3>
        DAILY MATCHES
        </h3>
        <h5>
          Now is your chance to make a move!
        </h5>
      </center>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <!-- DISPLAY IMAGE OF A MATCH HERE -->
    </div>
    <div class="col-md-3">
      <!-- DISPLAY IMAGE OF A MATCH HERE -->
    </div>
    <div class="col-md-3">
      <!-- DISPLAY IMAGE OF A MATCH HERE -->
    </div>
    <div class="col-md-3">
      <!-- DISPLAY IMAGE OF A MATCH HERE -->
    </div>
  </div>
</div>

{{pass}}