{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<body class="background">
    <div class="container-fluid">
        <div class="title col-md-12">
            <center><h1>
              MESSAGE BOX
            </h1></center><br>
            <blockquote>
            <center><p>
                <!-- TIPS -->
                <!-- RACTIVE -->

                <div id="target"></div>
                <script id="template" type="text/ractive">
                 <small style="color:white; cursor:default" on-click="changeTip">
                   {% tip_box %}
                 </small>
                </script>
                </p>
            </center>
            </blockquote></center><br><br>
            <br><br>
        </div>
        <center>
            <div id="message-client"></div>
        </center>
    </div>
</body>

<script id="message-template" type="text/ractive">
    {% #if show_message_list %}
    <h4 style="color:white">RECEIVED</h4>
    <br>
    <table class="message-table" style="width:30%">
        <tr>
            <td class="message-table-head" style="width: 30%">FROM</td>
            <td class="message-table-head">SUBJECT</td>
        </tr>

    {% #each rec_messages %}
        <tr id="{% message_id %}" on-click="read_rec">
            <td>{% sender %}</td>
            <td>{% subject %}</td>
        </tr>
    {% /each %}
    </table>
    <br><br><br>
    <h4 style="color:white">SENT</h4>
    <br>
    <table class="message-table" style="width:30%">
        <tr>
            <td class="message-table-head" style="width: 30%">TO</td>
            <td class="message-table-head">SUBJECT</td>
        </tr>

    {% #each sent_messages %}
        <tr id="{% message_id %}" on-click="read_sent">
            <td>{% receiver %}</td>
            <td>{% subject %}</td>
        </tr>
    {% /each %}
    </table>

    {% else %}
    <br />
    <br />
    <center>
    <table class="message-table" style="width:30%">
        <tr>
            <td class="message-table-head" style="width: 30%">From</td>
            <td>{% displayed_message.sender %}</td>
        </tr>
        <tr>
            <td class="message-table-head" style="width: 30%">To</td>
            <td>{% displayed_message.receiver %}</td>
        </tr>
        <tr>
            <td class="message-table-head" style="width: 30%">Subject</td>
            <td>{% displayed_message.subject %}</td>
        </tr>
        <tr>
            <td class="message-table-head" style="width: 30%">Body</td>
            <td>{% displayed_message.body %}</td>
        </tr>
    </table>
    </center>
    <br />
    <br />
    {% #if displayed_is_rec %}
    <h4 style="color:white">REPLY<br></h4>
    <textarea on-blur="update-reply" id="reply-field" rows=18 style="width: 30%; height: 150px; background-color: transparent; color: white"></textarea>
    <br />
    <button on-click="send-reply" style="background-color: transparent;color: white">
    Send
    </button>
    {% /if %}
    <button on-click="back" style="background-color: transparent;color: white">
    Back
    </button>
    {% /if %}
    <br><br><br><br>
</script>

<script>
    $(function() {
        // Ractive object
        var RACTIVE = new Ractive({
            el: '#message-client',
            template: '#message-template',
            delimiters: ['{%', '%}'],
            tripleDelimiters: ['{%%', '%%}'],
            data: {
                sent_messages: '',
                rec_messages: '',
                show_message_list: true,
                displayed_message: '',
                displayed_is_rec: false,
                reply_text: '',
                tip_dict: {},
                tip_box: "",
            },
        });

        RACTIVE.on("update-reply", function(e){
            RACTIVE.set('reply_text', e.node.value);
        });

        RACTIVE.on("send-reply", function(e){
            var msg = RACTIVE.get('displayed_message');
            var to = msg.sender;
            var subject = "RE: " + msg.subject;
            var body = RACTIVE.get('reply_text');
            console.log(to + subject + body);
            sendMessage(to, subject, body);
            RACTIVE.set('displayed_message', '');
            RACTIVE.set('show_message_list', true);
        });

        RACTIVE.on("read_rec", function(e){
            RACTIVE.set('displayed_message', RACTIVE.get("rec_messages")[(e.node.id)]);
            RACTIVE.set('displayed_is_rec', true);
            RACTIVE.set('show_message_list', false);
        });

        RACTIVE.on("read_sent", function(e){
            RACTIVE.set('displayed_message', RACTIVE.get("sent_messages")[(e.node.id)]);
            RACTIVE.set('displayed_is_rec', false);
            RACTIVE.set('show_message_list', false);
        });

        RACTIVE.on("back", function(e){
            RACTIVE.set('displayed_message', '');
            RACTIVE.set('show_message_list', true);
        });

        var sendMessage = function(rec, subject, body){
            $.ajax("{{=URL('default', 'send_message', user_signature=True)}}",
                    {
                        data: {
                            message_id: generateUUID(),
                            receiver: rec, // request.vars.msg
                            body: body, // request.vars.is_draft
                            subject: subject // request.vars.msg_id
                        },
                        method: 'POST',
                        success: function() {
                            updateMessages();
                        },
                        error: function() {}
                    }
            );
        };

        var updateMessages = function(){
            $.ajax("{{=URL('default', 'get_messages', user_signature=True)}}",
                    {
                        method: 'POST',
                        success: function (data) {
                            // http://stackoverflow.com/questions/5199901/how-to-sort-an-associative-array-by-its-values-in-javascript
                            var sent_tuples = [];
                            var sent = [];
                            for (var key in data['sent_messages']) sent_tuples.push([key, data['sent_messages'][key]]);

                            sent_tuples.sort(function(a, b) {
                                a = a[1]['sent'];
                                b = b[1]['sent'];

                                return a < b ? -1 : (a > b ? 1 : 0);
                            });

                            for (var i = 0; i < sent_tuples.length; i++) {
                                var key = sent_tuples[i][0];
                                var value = sent_tuples[i][1];

                                sent.push(value);
                            }

                            var tuples = [];
                            var rec = [];
                            tuples.sort(function(a, b) {
                                a = a[1]['sent'];
                                b = b[1]['sent'];

                                return a < b ? -1 : (a > b ? 1 : 0);
                            });

                            for (var i = 0; i < tuples.length; i++) {
                                var key = tuples[i][0];
                                var value = tuples[i][1];

                                rec.push(value);
                            }
                            RACTIVE.set('sent_messages', sent);
                            RACTIVE.set('rec_messages', rec);
                        }
                    }
            );
        };

        // http://stackoverflow.com/questions/105034/create-guid-uuid-in-javascript
        function generateUUID(){
            var d = new Date().getTime();
            if(window.performance && typeof window.performance.now === "function"){
                d += performance.now();; //use high-precision timer if available
            }
            var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = (d + Math.random()*16)%16 | 0;
                d = Math.floor(d/16);
                return (c=='x' ? r : (r&0x3|0x8)).toString(16);
            });
            return uuid;
        }

        updateMessages();

        setInterval(updateMessages, 5000);

        $.ajax("{{=URL('default','loadTips', args="0")}}",
                {
                    method: 'POST',
                    success: function (data) {
                        MAIN.set('tip_dict', data['tip_dict']);
                    }
                }
        );
        function load_tip() {
            $.ajax("{{=URL('default', 'selRandTip', args="0")}}",
                    {
                        method: 'POST',
                        success: function (data) {
                            MAIN.set('tip_box', data);
                        }
                    }
            )
        }

        load_tip();
        MAIN.on("changeTip", function (e) {
            load_tip();
        });
    });

</script>
