{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<style>
  body {
    background: url('http://i.imgur.com/FLlTgwF.png') no-repeat;
    background-size: 100%;
  }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!-- NAVI BAR -->
      <nav class="menubar avbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
             <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button> <a class="navbar-brand" href="#"><img src="http://i.imgur.com/BRPgVCW.png" alt="LoveSlugs"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="../">HOME</a>
            </li>
            <li>
              <a href="messages.html">MESSAGES</a>
            </li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">PROFILE</a>
              <ul class="dropdown-menu">
                <li class="active">
                  <a href="myprofile.html">View Profile</a>
                </li>
                <li>
                  <a href="editprofile.html">Edit Profile</a>
                </li>
                <li>
                  <a href="settings.html">Settings</a>
                </li>
              </ul>
            </li>
            <li><a href="tips.html">TIPS</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">Log Out</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="title col-md-4">
      <!-- PAGE HEADER -->
      <center>
        <h3>
        MY PROFILE
        </h3>
        <h5>
          <hr>
        </h5>
            <div>
                <h4><b>My Picture:</b></h4>
            <span><img src="{{=URL('default', 'download', args=thisprofile[-1].image)}}" alt="Profile Picture" style="width:150px;height:150px;"/></span>
                <h4><b>About Me:</b></h4>
            <span><h5>{{=(thisprofile[-1].about_me)}}</h5></span>
                <h4><b>Interests:</b></h4>
            <span><h5>{{=thisprofile[-1].interests}}</h5></span>
                <h4><b>Major:</b></h4>
            <span><h5>{{=thisprofile[-1].major}}</h5></span>
                <h4><b>Location:</b></h4>
            <span><h5>{{=thisprofile[-1].college}}</h5></span>
                {{pass}}

    <h1> . </h1>
      </center>
    </div>
    <div class="col-md-4">
    </div>
 