{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<body class="background">
  <div class="container-fluid">
    <div class="title col-md-12">
      <center><h1>
        PUBLIC PROFILE
      </h1></center><br>
        <center><p>
        <!-- TIPS -->
          <!-- RACTIVE -->
          <div id="target"></div>
            <script id="template" type="text/ractive">
               <medium style="color:white; cursor:default" on-click="changeTip">
                 '' -{% tip_box %}''
               </medium>
            </script>
        </p>
        </center><br><br>
      <br>
      <br>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="form col-md-4">
        <center>
          <h3>{{=thisprofile[-1].your_name}}</h3>
          <span><img src="{{=URL('default', 'download', args=thisprofile[-1].image)}}" alt="Profile Picture" style="width:300px;height:300px;border:1px solid #000000;"/></span><br>
          <br><br>
          <table border="0" style="width:80%">
            <tr><td>Birthday:</td><td>{{=thisprofile[-1].birthday}}</td> </tr>
            <tr><td>Gender:</td><td>{{=thisprofile[-1].gender}}</td></tr>
            <tr><td>Seeking a:</td><td>{{=thisprofile[-1].seeking_a}}</td></tr>
            <tr><td>About Me:</td><td>{{=(thisprofile[-1].about_me)}}</td></tr>
            <tr><td>Interests:</td><td>{{=thisprofile[-1].interests}}</td></tr>
            <tr><td>Major:</td><td>{{=thisprofile[-1].major}}</td></tr>
            <tr><td>Location:</td><td>{{=thisprofile[-1].college}}</td></tr>
            {{for users in user_list:}}
              {{if auth.user:}}
                <span class="thumb-rating" data-picid="{{=users['id']}}">
                  <input class="form-control rating" value="{{=users['thumbs']}}" style="display:none"/>
                    <span class="thumbs-up">
                      <i class="fa fa-thumbs-o-up"></i>
                    </span>
                    <span class="thumbs-down">
                      <i class="fa fa-thumbs-o-down"></i>
                    </span>
                </span>
              {{pass}}
            {{pass}}
            {{pass}}
          </table>
          <br><br>
          <div id="message-box" style="width:75%"></div>
        </center>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</body>




<script>
jQuery('span.thumb-rating').each(function(){
  // For each thumb rating span, let's find some key elements.
  // 'this' can vary in javascript, so let's have the span.thumb-rating on which
  // this function is called be stored in a variable called 'self'.
  var self = jQuery(this);
  // First, the input, so using val() we can know whether the thumb is up ('u'),
  // down ('d'), or not defined ('', or none of the above values).
  var input_el = self.find("input");
  // And the thumbs up and down.
  var thumbs_up = self.find("span.thumbs-up i.fa");
  var thumbs_down = self.find("span.thumbs-down i.fa");
  var span_up = self.find("span.thumbs-up");
  var span_down = self.find("span.thumbs-down");
  // And the picture id.
  var picid = self.attr('data-picid');

  // To cause a thumbs_up to appear filled, you add to it the class fa-thumbs-up;
  // to cause it to appear unfilled, you add to the i.fa element the class fa-thumbs-o-up.
  // For instance: thumbs_up.removeClass("fa-thumbs-o-up").addClass("fa-thumbs-up")
  // would fill it.

  var do_thumbs_up = function() {
    // Write here a function that fills the thumbs up, and unfills the thumbs down.
      thumbs_up.removeClass("fa-thumbs-o-up").addClass("fa-thumbs-up");
      thumbs_down.removeClass("fa-thumbs-down").addClass("fa-thumbs-o-up");
  };
  var do_thumbs_down = function() {
    // Write here a function that fills the thumbs down, and unfills the thumbs up.

      thumbs_down.removeClass("fa-thumbs-o-up").addClass("fa-thumbs-down");
      thumbs_up.removeClass("fa-thumbs-up").addClass("fa-thumbs-o-up");

  };
  var do_no_thumbs = function() {
    // Write here a function that unfills both thumbs.
      thumbs_up.removeClass("fa-thumbs-up").addClass("fa-thumbs-o-up");
      thumbs_down.removeClass("fa-thumbs-down").addClass("fa-thumbs-o-up");

  };

  // Using the above functions, write a function that displays the correct state of the
  // thumbs up and down according to the value of the input.
  var show_thumbs = function() {
    // Write code here.

    if (input_el.val() == 'u') {
        do_thumbs_up();
    }else if(input_el.val() == 'd'){
        do_thumbs_down();
    } else{
        do_no_thumbs();
    }
  };

  function send_thumbs(thumbs) {
    // This function sends to the server the thumb status, which should be
    // one of 'u', 'd', or ''.  Call it from the click handlers.
    jQuery.post(
            '{{=URL('vote', user_signature=True)}}', // URL for the AJAX call
            {   // Dictionary of names to values. The server will have:
              'picid': picid,  // request.vars.picid
              'thumbs': thumbs   // request.vars.thumbs


            }
    );
  }

  // You have to add handlers for hover and click to the thumbs up and down.
  span_up.on("mouseover", function() {
    // Write here what to do on mouseover of thumbs up.

      do_thumbs_up();


  });
  span_down.on("mouseover", function() {
    // Write here what to do on mouseover of thumbs down.

      do_thumbs_down();

  });
  span_up.on("click", function() {
    // Write here what to do on click of thumbs up.


      input_el.val('u');
      send_thumbs('u');
      do_thumbs_up();
      show_thumbs();

  });
  span_down.on("click", function() {
    // Write here what to do on click of thumbs down.

      input_el.val('d');
      send_thumbs('d');
      do_thumbs_down();
      show_thumbs();

  });

  self.on("mouseout", function() {
    // Write here what to do when the mouse leaves the span with the
    // thumbs up and down.

      show_thumbs();

  });

  // This is used to initialize the thumbs.
  show_thumbs();
});
</script>



<script id="message-template" type="text/ractive">
    <button on-click="clicked-message" style="background-color: transparent;color: white">Message {{=thisprofile[-1].your_name}}</button>
    {% #if show_message_edit %}
    <h5><br><br>Send a Message</h5>
    <table style="width: 100%">
        <tr>
            <td>
                Subject:
            </td>
            <td>
                <textarea on-blur="update-subject" id="subject-field" rows=1 style="width: 100%; resize: none;  background-color: transparent; color: white"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                Body:
            </td>
            <td>
                <textarea on-blur="update-text" id="text-field" rows=18 style="width: 100%; height: 80px; resize: none; background-color: transparent; color: white"></textarea>
            </td>
        </tr>
    </table>
    <br />
    <button on-click="send-reply" style="background-color: transparent;color: white">
    Send
    </button>
    <button on-click="back" style="background-color: transparent;color: white">
    Back
    </button>
    {% /if %}
</script>

<script>
    $(function() {
        // Ractive object
        var RACTIVE = new Ractive({
            el: '#message-box',
            template: '#message-template',
            delimiters: ['{%', '%}'],
            tripleDelimiters: ['{%%', '%%}'],
            data: {
                show_message_edit: false,
                text: '',
                subject: '',
                tip_dict: {},
                tip_box: "",
            },
        });

        RACTIVE.on("clicked-message", function(e){
            RACTIVE.set('show_message_edit', true);
        });

        RACTIVE.on("update-text", function(e){
            RACTIVE.set('text', e.node.value);
        });

        RACTIVE.on("update-subject", function(e){
            RACTIVE.set('subject', e.node.value);
        });

        RACTIVE.on("send-reply", function(e){
            var to = Number({{=thisprofile[-1].user_id}});
            var subject = RACTIVE.get('subject');
            var body = RACTIVE.get('text');
            sendMessage(to, subject, body);
            RACTIVE.set('text', '');
            RACTIVE.set('subject', '');
            RACTIVE.set('show_message_edit', false);
        });

        RACTIVE.on("back", function(e){
            RACTIVE.set('text', '');
            RACTIVE.set('subject', '');
            RACTIVE.set('show_message_edit', false);
        });

        var sendMessage = function(rec, subject, body){
            $.ajax("{{=URL('default', 'send_message', user_signature=True)}}",
                    {
                        data: {
                            message_id: generateUUID(),
                            receiver: rec, // request.vars.msg
                            body: body, // request.vars.is_draft
                            subject: subject // request.vars.msg_id
                        },
                        method: 'POST',
                        success: function() {
                        },
                        error: function() {}
                    }
            );
        };

        // http://stackoverflow.com/questions/105034/create-guid-uuid-in-javascript
        function generateUUID(){
            var d = new Date().getTime();
            if(window.performance && typeof window.performance.now === "function"){
                d += performance.now();; //use high-precision timer if available
            }
            var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = (d + Math.random()*16)%16 | 0;
                d = Math.floor(d/16);
                return (c=='x' ? r : (r&0x3|0x8)).toString(16);
            });
            return uuid;
        }

        $.ajax("{{=URL('default','loadTips', args="0")}}",
            {
                method: 'POST',
                success: function (data) {
                    MAIN.set('tip_dict', data['tip_dict']);
                }
            }
        );
        function load_tip(){
            $.ajax("{{=URL('default', 'selRandTip', args="0")}}",
                {
                    method: 'POST',
                    success: function (data) {
                        MAIN.set('tip_box', data);
                    }
                }
            )
        }
        load_tip();
        MAIN.on("changeTip", function(e){
            load_tip();
        });
    });

</script>
