{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<style>
  body {
    background: url('http://i.imgur.com/FLlTgwF.png') no-repeat;
    background-size: 100%;
  }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!-- NAVI BAR -->
      <nav class="menubar avbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
             <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button> <a class="navbar-brand" href="#"><img src="http://i.imgur.com/BRPgVCW.png" alt="LoveSlugs"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="../">HOME</a>
            </li>
            <li>
              <a href="messages.html">MESSAGES</a>
            </li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">PROFILE</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="myprofile.html">View Profile</a>
                </li>
                <li>
                  <a href="editprofile.html">Edit Profile</a>
                </li>
                <li class="active">
                  <a href="settings.html">Settings</a>
                </li>
              </ul>
            </li>
            <li><a href="tips.html">TIPS</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">Log Out</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="title col-md-4">
      <!-- PAGE HEADER -->
      <center>
        <h3>
        SEARCH SETTINGS
        </h3>
        <div>
          <h4>
          LOOKING FOR A:
            <form action="">
              <input type="checkbox" name="gender" value="Male">Male<br>
              <input type="checkbox" name="gender" value="Female">Female
            </form>
            </h4>
          </div>
        <div>
          <h4>
            IN COLLEGE
              <form action="">
              <input type="checkbox" name="college" value="Porter">Porter<br>
              <input type="checkbox" name="college" value="Kresge">Kresge<br>
              <input type="checkbox" name="college" value="Merrill">Merrill<br>
              <input type="checkbox" name="college" value="Crown">Crown<br>
              <input type="checkbox" name="college" value="Oakes">Oakes<br>
              <input type="checkbox" name="college" value="Cowell">Cowell<br>
              <input type="checkbox" name="college" value="Stevenson">Stevenson<br>
              <input type="checkbox" name="college" value="Eight">Eight<br>
              <input type="checkbox" name="college" value="Nine">Nine<br>
              <input type="checkbox" name="college" value="Ten">Ten<br>
            </form>
          </h4>
        </div>
        <div>
          <h4>
            AGE
            <form method="post" action="demoform.asp">
              <input type="range"  name="age" id="age" value="24" min="18" max="30" data-show-value="true">
            </form>
          </h4>
        </div>
        <div>
          <h4>
            MAJOR
            <form action="">
              <input type="checkbox" name="major" value="match">Match My Major!<br>
              <input type="checkbox" name="major" value="nomatch">I Don't Care
            </form>
          </h4>
        </div>

    <h1> . </h1>
      </center>
    </div>
    <div class="col-md-4">
    </div>
 