{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<body class="background">

<div class="container-fluid">

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="title col-md-4">
      <!-- PAGE HEADER -->
      <center>
        <h3>
        TIPS
        </h3>
        <h5>
          <hr>
        </h5>
            <div>
            <span><img src="https://pbs.twimg.com/profile_images/569820079097802752/1uyMpI4w_400x400.jpeg" alt="Profile Picture" style="width:150px;height:150px;"/></span>
                <h3 style="color: red"><strong>Dating Tips</strong></h3>
                {{for tip in dateTips:}}
                <hr>
                <h4><b>{{=tip}}</b></h4>
                {{pass}}
                <hr><hr>
                <h3 style="color: dodgerblue"><strong>Profile Tips</strong></h3>
                {{for tip in profTips:}}
                <hr>
                <h4><b>{{=tip}}</b></h4>
                {{pass}}

    <h1> . </h1>
      </center>
    </div>
    <div class="col-md-4">
    </div>

    </body.
 