/* line 1, ../sass/_main.scss */
div.form {
  color: white;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 12px;
  font-weight: normal;
  padding: 10px;
  margin: 40px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid;
}

/* line 14, ../sass/_main.scss */
div.title {
  color: white;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 12px;
  font-weight: normal;
}

.user_images{
  width: 10px;
  height: 10px;
  display: inline-block;
}