div.form {
	
	color: white;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding: 10px;
	margin: 40px;
	@include border-radius(20px);
	border: 1px solid;
}


div.title {
	color: white;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

.message-table{
	th, td{
		padding: 10px;
	}
	.message-table-head{
		font-weight: bolder;
	}
	border: 1px solid white;
	width: 75%;
	color: white;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 12px;
	font-weight: normal;
}
