div.form {
	
	color: white;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding: 50px;
	margin: 1px;
	@include border-radius(50px);
	border: 1px solid;
}

div.profiletext {
	color: white;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 12px;
	font-weight: normal;
}
div.title {
	color: white;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

.message-table{
	th, td{
		padding: 10px;
	}
	.message-table-head{
		font-weight: bolder;
	}
	border: 1px solid white;
	width: 75%;
	color: white;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 12px;
	font-weight: normal;
}


.background {
    background-image: url(http://i.imgur.com/FLlTgwF.png);
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }